---
import PicoLayout from "../layouts/PicoLayout.astro";
---
<PicoLayout title="About Hit or Mythras" currentPage="/about">
<article>
<h2>About this site</h2>
<p>not much has been said yet.</p>
</article>
</PicoLayout>