---
const { currentPage } = Astro.props;
---
<nav>
    <hgroup>
      <h1><img src="./favicon.svg" alt="Millenium Flacon"/>Never Tell me the Odds!</h1>
      <p>Hit-or-Mythras, a RP framework using odds, not probabilities</p>
  </hgroup>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/" role='button'>Login</a></li>
    </ul>
</nav>